global:
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: 'thomman4027@gmail.com'
  smtp_auth_username: 'thomman4027@gmail.com'
  smtp_auth_password: 'Th0masmail'
  smtp_require_tls: false

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-receiver'

receivers:
  - name: 'email-receiver'
    email_configs:
      - to: 'thomman4027@gmail.com'
